<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/bootstrap-3.3.7-dist/css/bootstrap.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
</head>
<body>
<nav class = "navbar navbar-inverse">
<div class = "container-fluid">
<div class = "navbar-header">
<a class = "navbar-brand" href="/">UNO</a>
</div>
<ul class = "nav navbar-nav navbar-left">
<li><a href="/">Lobby</a></li>
<li><a href="/game">Game</a></li>
<li><a href="#" role="button" data-toggle="modal" data-target="#Instructions"> Instructions</a></li>
</ul>
<div id="Instructions" class="modal fade" role="dialog">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-body">
<p>Instructions go here</p>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>
<ul class="nav navbar-nav navbar-right">
<li><a href="/login">Login/Sign Up</a></li>
</ul>
</div>
</nav>
<div class="row">
<div class="col-md-9">
<!--<h2> Welcome to {{title}}</h2>-->
<!--Code for each game that exists-->
<div class="panel panel-default">
<div class="panel-heading">
<div class="row">
<div class="col-md-7">
<h4>Game #gameid</h4>
</div>
<div class="col-md-4">
<h5># of players</h5>
</div>
<div class="col-md-1">
<a href="#" role="button" class="btn btn-success">Join Game</a>
</div>
</div>
</div>
<div class="panel-body">
<div class="row">
<div class="col-md-12">
<ul class="list-inline">
<!--Code for each player in game-->
<li>playerid1</li>
<li>playerid2</li>
<li>playerid3</li>
<li>playerid4</li>
</ul>
</div> 
</div>
</div>
</div>
</div>
<div class="col-md-3">
<!--Put Chat Widget here-->
<h3> Chat widget here </h3>
</div>
</div>

</body>
</html>
