<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/bootstrap-3.3.7-dist/css/bootstrap.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script src="/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
</head>

<body>
    <h1>title</h1>
    <form name="signup", method="post">
        <div class="input">
            <span label=Username>
            <input type="text", name="email">
		</span>
		</div>
        <div class="input">
            <span label=Password>
            <input type="text", name="password">
		</span>
		</div>
        <div class="actions">
            <input type="submit", value="Sign Up">
		</div>
	</form>
</body>
</html>
