<!doctype html>
<html>
  <head>
    <title>Test Game</title>

    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="/js/test-game.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/test-game.css">

  </head>
  <body>
    <h2>Test Game</h2>
    <div id="gameBorad">
      <div id="board">
        <h3>Data to send to server</h3>
        <p id="tosend"></p>
        <h3>Feedback from server</h3>
        <p id="feedback"></p>
        <br>
        <img id="card1" class="card" src='images/cards/r1.png' ondragend="post(1)"
             onclick="post(1)" alt='card:red 1'>
        <img id="draw" class="card" src='images/cards/back.png' onmouseup="post('draw')"
             alt='card:back'>
        <br><p id="ready" onclick="post('ready')">Click READY</p> 
        <p id="red" onclick="post('red')">Click RED</p>
        <p id="green" onclick="post('green')">Click GREEN</p>
        <p id="blue" onclick="post('blue')">Click BLUE</p>
        <p id="yellow" onclick="post('yellow')">Click YELLOW</p>
        <p id="uno" onclick="post('uno')">Click to Say UNO</p>
        <p id="skip" onclick="post('skip')">Click to Skip</p> 
        <p id="exit" onclick="post('exit')">Click to EXIT</p>
      </div>
    </div>

    <div id="chatRoom">

      <ul id="messages"></ul>
      <form action="">
        <input id="m" autocomplete="off" /><button>Send</button>
      </form>
    </div>
    <!--
<script>
  post('cardImages');
  post('playersInfo');
  post('myInfo');
</script>
-->
  </body>
</html>